<%- include("partials/header") %>


<h1>Contact</h1>
<p> <%= contactContent  %> </p>

<ul>
  <li>Linkedin : Pulkit Saini, BITS Pilani</li>
  <li>Instagram : pulkiiitttt</li>
  <li>Twitter : anotherPulkit</li>
  <li>GitHub: pulkiiitttt</li>
</ul>


<%- include("partials/footer") %>
